@charset "UTF-8";
/**
 * Configurer un modèle de boîte décent sur l'élément racine
 */
html {
  box-sizing: border-box;
}

/**
 * Faire en sorte que tous les éléments du DOM héritent du box-sizing parent
 * Puisque `*` a une spécificité de 0, il ne remplace pas la valeur `html`
 * faire en sorte que tous les éléments héritent de la valeur root box-sizing
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #63c7b2;
}

/**
 * Style de typographie de base pour copier du texte
 */
header {
  position: relative;
  margin: 10px 15px;
  padding: 0 2rem;
  border-radius: 10px;
  background-color: rgba(20, 20, 20, 0.335);
}
@media screen and (max-width: 990px) {
  header {
    background: none;
  }
}
header .navbar {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}
header .navbar .links {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 990px) {
  header .navbar .links {
    display: none;
  }
}

.logo img {
  height: 50px;
}

.burger-menu-button {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
@media screen and (max-width: 990px) {
  .burger-menu-button {
    display: block;
  }
}

.buttons {
  display: flex;
  gap: 10px;
}
.buttons .action-button {
  background-color: #63c7b2;
  color: #120d31;
  border: 1px solid #63c7b2;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  outline: none;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 990px) {
  .buttons .action-button {
    display: none;
  }
}
.buttons .action-button:hover {
  color: #fff;
  border: 1px solid #fff;
}
.buttons .pro {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.buttons .pro:hover {
  background-color: #fff;
  color: #120d31;
}

.burger-menu {
  display: none;
  height: 0;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@media screen and (max-width: 576px) {
  .burger-menu {
    left: 2rem;
    width: unset;
  }
}
@media screen and (max-width: 990px) {
  .burger-menu {
    display: block;
  }
}
.burger-menu.open {
  height: 310px;
}
.burger-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.burger-menu .divider {
  height: 1px;
  background-color: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
.burger-menu .buttons-burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.burger-menu .buttons-burger-menu .action-button {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */