// -----------------------------------------------------------------------------
// Ce fichier contient tous les styles liés à l'en-tête du site/de l'application.
// -----------------------------------------------------------------------------

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include flex-align-items-center;
  padding: 0 2rem;
  z-index: 9;

  //@include tablette {
  //  background: none;
  //}

  .navbar {
    width: 100%;
    max-width: 1440px;
    height: 60px;
    border-radius: 10px;
    padding: 0 2rem;
    margin: 15px 15px -10px 15px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.764), rgba(255, 255, 255, 0.627));
    @include flex-between-center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.767);

    @include tablette {
      background: none;
    }

    .logo a {
      @include fontRoboto700(1.5rem, black);
    }

    .links {
      display: flex;
      gap: 2rem;

      @include tablette {
        display: none;
      }
    }
  }
}
