// -----------------------------------------------------------------------------
// Ce fichier contient tous les styles liés à l'en-tête du site/de l'application.
// -----------------------------------------------------------------------------

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include flex-align-items-center;
  padding: 0 2rem;
  z-index: 9;

  //@include tablette {
  //  background: none;
  //}

  .navbar {
    width: 100%;
    max-width: 1440px;
    height: 60px;
    border-radius: 10px;
    padding: 0 2rem;
    margin: 15px 15px -10px 15px;
    @include gradient-glassmorphing;
    @include flex-between-center;
    box-shadow: $box-shadow;

    @include tablette {
      background: none;
      backdrop-filter: none;
      box-shadow: none;
    }

    .logo a {
      @include fontSpaceGrotesk700(2rem, $black);
    }

    .links {
      display: flex;
      gap: 2rem;

      @include tablette {
        display: none;
      }
    }
  }
}
