#main-section {
    position: relative;
    padding: 20px;
    @include Background-principal-color;
    @include flex-align-items-center;

    .glass {
        position: relative;
        width: 95%;
        height: auto;
        border-radius: 20px;
        @include glassmorphing-fond;
    }
}