.sec {
    position: relative;
    padding: 100px;
    background: $main-color;

    h2 {
        @include fontRoboto500(3.5em, white);
        margin-bottom: 10px;

    }

    p {
        @include fontRoboto300(1em, white);
        margin-bottom: 10px;
    }
}