.background-parallaxe {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  overflow: hidden;
  @include flex-align-items-center;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img#bk0 {
    mix-blend-mode: screen;
    z-index: 2;
  }

  img#bk1 {
    z-index: 1;
  }

  img#bk2 {
    z-index: 6;
  }

  #title-parallaxe {
    position: absolute;
    top: 200px;
    right: 100px;
    @include fontSpaceGrotesk700(4em, $white);
    white-space: nowrap;
    z-index: 2;
  //   animation: animate 9s linear infinite;
  //  @include animate
  }

  .cloud {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $transparent
    url('/assets/images/cloud.png') repeat top center;
    filter: opacity(0.4) drop-shadow(0 0 0 $white);
    z-index: 1;

    animation: move-cloud 200s linear infinite;
    @include move-cloud;
    
  }

  img#bk3 {
    z-index: 5;
  }

  img#bk4 {
    mix-blend-mode: screen;
    z-index: 4;
  }

  img#bk5 {
    height: 550px;
    width: 1000px;
    mix-blend-mode: screen;
    z-index: 3;
  }
}

.background-parallaxe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, $main-color, $transparent);
  z-index: 10;
}
