// -----------------------------------------------------------------------------
// Ce fichier contient des styles très basiques.
// -----------------------------------------------------------------------------

/**
 * Configurer un modèle de boîte décent sur l'élément racine
 */
html {
  box-sizing: border-box;
}

/**
 * Faire en sorte que tous les éléments du DOM héritent du box-sizing parent
 * Puisque `*` a une spécificité de 0, il ne remplace pas la valeur `html`
 * faire en sorte que tous les éléments héritent de la valeur root box-sizing
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  background: linear-gradient(
    to right bottom,
    $main-color,
    $secondary-color
  ); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    $main-color,
    $secondary-color
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    $main-color,
    $secondary-color
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #63c7b2;
}
