// -----------------------------------------------------------------------------
// Ce fichier contient tous les mixins Sass.
// -----------------------------------------------------------------------------

@mixin flex-align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
