// -----------------------------------------------------------------------------
// Ce fichier contient tous les mixins Sass.
// -----------------------------------------------------------------------------

@mixin flex-align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
