// -----------------------------------------------------------------------------
// Ce fichier contient toutes les variables Sass.
// -----------------------------------------------------------------------------

// Variable Background

$main-Background: #2b86c5;



// Variables couleurs

$white: #fff;
$black: #000;
$main-color: #2b86c5;
$secondary-color: #74ebd5;
$tertiair-color: #9face6;
$transparent: transparent;

// Box Shadow

$box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);

// Breakpoint

$breakpoint: (
  mobile-s: 320px,
  mobile-m: 375px,
  mobile-l: 425px,
  tablette: 768px,
  laptop: 1024px,
  laptop-l: 1440px,
  desktop: 2560px
);
