// -----------------------------------------------------------------------------
// Ce fichier contient toutes les variables Sass.
// -----------------------------------------------------------------------------

// Variables couleurs

$white: #fff;
$main-color: #360033;
$secondary-color: #0b8793;

// Breakpoint

$breakpoint: (
  mobile: 576px,
  tablette: 990px,
);
