// -----------------------------------------------------------------------------
// Ce fichier contient toutes les variables Sass.
// -----------------------------------------------------------------------------


// Variables couleurs

$white : #fff;
$main-color : #65dfc9;
$secondary-color : #6cdbeb;